# Google OAuth Client ID for login feature
VITE_GOOGLE_CLIENT_ID=your-client-id-here.apps.googleusercontent.com

# Firebase Cloud Firestore Database Configuration
VITE_FIREBASE_API_KEY=your-firebase-api-key
VITE_FIREBASE_AUTH_DOMAIN=explore-trawas.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=explore-trawas
VITE_FIREBASE_STORAGE_BUCKET=explore-trawas.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
VITE_FIREBASE_APP_ID=your-firebase-app-id
